@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@layer base {
  :root {
    --color-primary-50: #fef2f2;
    --color-primary-100: #fee2e2;
    --color-primary-200: #fecaca;
    --color-primary-300: #fca5a5;
    --color-primary-400: #f87171;
    --color-primary-500: #df2e38;
    --color-primary-600: #dc2626;
    --color-primary-700: #b91c1c;
    --color-primary-800: #991b1b;
    --color-primary-900: #7f1d1d;
  }
}
